html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:black;
}

body h1{
    padding-left: 25px;
}


body .content{
    padding-left: 35px;
    height: 100%;
    background-color: black;
}

#global_navi{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

#global_navi_logo{
    margin: 2px;
    float: left;
}

#global_navi_links{
    margin-top: 8px;
}

#global_navi_links a{
    margin: 8px;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

#container{
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.link_button{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.current{
    border: solid 2px #FF00FF;
    color: #FF00FF;
}

p.text{
    width: 400px;
    word-wrap: normal;
}

.caution{
    color: red;
}

.page_links a:link{
    color: white;
}
.page_links a:visited{
    color: red;
}
.page_links a:hover{
    color: yellow;
}
.page_links a:active{
    color: red;
}

li{
    list-style-type: none;
}

li input#regist_btn{
    margin-top: 5px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background-color: black;
}

input#print_btn{
    margin-top: 5px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background-color: black;
}

select option{
    color: white;
    background-color: black;
}

form ul{
    padding-left: 0;
}

select{
    height: 32px;
}